body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px
}

li{
    font-size: clamp(16px, 32px, 40px);
    line-height: 1.5;
    line-break: auto;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    aspect-ratio: 1 / 1;
    padding: 20px;
    border-radius: 25px;
    background-color: lightgrey;
}

.back{
    background-color: hwb(268 8% 14% / 0.853);
    text-align: center;
    width: fit-content;
    border-radius: 16px;
    padding: 0.5em;
    font-size: 24px;

}


a{ 
    color: white;
    text-decoration: none;
}