body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  gap: clamp(0px, 100px, 100px)
}

div{
  text-align: center;
}

.info-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

}

.info-top{
  margin: 0 auto;
    width: 60%;
    text-align: center;
    color: rgb(96, 104, 107);
    font-size: clamp(8px, 34px, 40px);
}

p{
    text-align: center;
    font-size: clamp(16px, 56px, 64px);
}

.typewriter{
    display: inline-block;
    text-align: center;
}
.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  img{
    /* padding: 32px, auto; */
    width: 500px;
    height: 500px;
    display: block;

  }
  .info{
    width: 60%;
    font-size: clamp(8px, 34px, 40px);

  }
  .button1, .button2{
    text-align: center;
    border-radius: 16px;
    padding: 8px 16px 8px 16px;
    width: fit-content;
    font-size: 28px;

  }

  .button1{
    background-color: hwb(268 8% 14% / 0.853);
  }
  .button2{
    background-color: hwb(268 8% 14% / 0.853);
  }

  .image-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
  }


  .button-container{
    background-color: aliceblue;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
  }


  a{ 
    color: white;
    text-decoration: none;
  }